.registerParentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 420px;
  height: auto;
  position: relative;
  background-color: #ffffff;
}

@media (min-width: 421px) {
  .registerContainer {
    width: 420px;
  }
}

.signUpForm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 5% 0 10% 0;
}

.signUpForm h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  display: inline;
}

.inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 425px;
}

.inputLabelContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.labelContainer {
  font-size: 14px;
  font-weight: 500;
  width: 90%;
}

.inputStyling {
  width: 90%;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  outline: none;
  &::placeholder {
    color: #9ca3af;
  }

  &:focus {
    border: 1px solid black;
  }
}

.selector {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
}

.selector select {
  width: 90%;
  padding: 8px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  height: 44px;
}

.registerButton {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.registerButton button {
  width: 50%;
  border-radius: 10px;
  color: whitesmoke;
  background-color: black;
}

.submitButton {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border-color: black;
  color: #ffffff;
  background-color: #111111;
  cursor: pointer;
  padding: 12px;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: #1f2937;
  }
}

.linkText {
  font-size: 13px;
  font-weight: 500;
  color: #3b82f6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.subText {
  font-size: 14px;
  font-weight: 400px;
}
