@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.loginparentcontainer {
  width: 100%;
  height: 100%;
}

.mainLogin {
  width: 100%;
  height: 100%;
  position: relative;
}

.formContainer {
  border-radius: 16px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
  width: 420px;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Add this line for true centering */
}

.headingText {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  display: inline;
}

.welcomeText {
  font-size: 14px;
  font-weight: 400;
}

.inputLabel {
  font-size: 14px;
  font-weight: 500;
}

.loginForm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin: 20% 0 0 0;
}

.submitButton {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border-color: black;
  color: #ffffff;
  background-color: #111111;
  cursor: pointer;
  padding: 12px;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: #1f2937;
  }
}

.userName {
  width: 90%;
  height: 44px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 14px;
  border: 1px solid #d1d5db; /* Common default border style for inputs */
  background-color: #f0f0f0; /* Ensuring background is white */

  &:hover {
    color: #111111;
  }

  &:focus {
    border-color: black;
    border: 1px solid #111111;
    outline: none;
  }
}

.linkText {
  font-size: 13px;
  font-weight: 500;
  color: #3b82f6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.inputContainer label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 12px;
  color: black;
  padding: 0 5px;
  font-weight: bold;
  background-color: white;
}

.profileIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.iconContainer {
  width: 1.5rem;
  height: 100%;
  position: absolute;
  left: 85%;
  display: flex;
  align-items: center;
  size: 18px;
  color: #6b7280;
}

.userNameError {
  width: 90%;
  height: 44px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 14px;
  border: 1px solid #d1d5db; /* Common default border style for inputs */
  background-color: #f0f0f0; /* Ensuring background is white */
  border-color: red;
}
