@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.rider-home-main-page {
  height: 100%;
  width: 100%;
}

.rider-profle-container {
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(243, 243, 243);
  width: 30%;
  height: 60%;
  transform: translate(100%, 20%);
  justify-content: center;
  align-items: center;
  /* background-color: #05386b; */
  border-color: black;
  transition: box-shadow 0.3s ease;
  background-color: white;
}

.rider-card {
  height: 100%;
  width: 100%;
}
/* .rider-card img {
  width: 100%;
} */

.rider-profile-image {
  width: 100%;
  height: 50%;
  position: relative;
  top: 10%;
  display: flex;
  justify-content: center;
}

.rider-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.rider-profile-button {
  height: 40px;
  border-radius: 20px;
}

.rider-profile-image-container {
  position: relative;
  height: 50%;
}

.rider-profile-container {
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
  border-color: black;
}

.rider-profile-image img {
  width: 30%;
  height: 100%;
}

.rider-profile-details {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
