@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.riderHomeMainPage {
  height: 95%;
  width: 100%;
}

.homePageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.riderProfleContainer {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 2% 0 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 421px) {
  .riderProfleContainer {
    width: 400px;
  }
}

.riderCard {
  height: 100%;
  width: 100%;
}
/* .rider-card img {
  width: 100%;
} */

.riderProfileImage {
  width: 100%;
  height: 50%;
  position: relative;
  top: 10%;
  display: flex;
  justify-content: center;
}

.riderProfileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.riderProfileButton {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.riderProfileImageContainer {
  position: relative;
  height: 50%;
}

.riderProfileContainer {
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
  border-color: black;
}

.riderProfileImage img {
  width: 30%;
  height: 100%;
}

.riderProfileDetails {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 2%;
}
